{
  "name": "TSKaigi",
  "title": "TSKaigi 2025",
  "hashtag": {
    "globalHashtag": "#tskaigi2025",
    "track": [
      {
        "name": "トグルルーム",
        "hashtag": "#tskaigi_toggle"
      },
      {
        "name": "アセンドトラック",
        "hashtag": "#tskaigi_ascend"
      },
      {
        "name": "レバレジーズトラック",
        "hashtag": "#tskaigi_leverages"
      }
    ]
  },
  "dayZero": {
    "year": 2025,
    "month": 5,
    "day": 22
  }
}